@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #FFF7F1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 65px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 4px;
}

.input:focus {
  border-color: #007bff;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #124076;
  display: flex;
  justify-content: center;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.register-text {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
}

.login-text {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
}

.hyper-link {
  color: #007bff;
  font-weight: bold;
}

.msg-success {
  color: #28a745;
  margin-top: 10px;
  text-align: center;
}

.msg-danger {
  color: #dc3545;
  margin-top: 8px;
  text-align: center;
}

.home-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header {
  color: #28a745;
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
}

.logout-btn {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  justify-content: end;
  align-items: end;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .content {
    padding: 20px;
  }
}

